/* Style specific to <action-widget> */

action-widget web-view {
  width: 100%;
  height: 100%;
  display: block;
  clip-path: inset(0% round 10px)
}

action-widget web-view.animate {
  animation: frame-anim 1s linear;
}

@keyframes frame-anim {
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
